@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <p>@DateTime.Now</p>
        <h2> Require.js </h2>
        <p> The require.js library is a module definition patter. </p>
    </div>
</div>