<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Developer Nation - @ViewBag.Title</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/bootswatch/darkly/bootstrap.min.css"/>
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/css/sidebar.css"/>
        <link rel="stylesheet" href="~/css/footer.css"/>
    </environment>

    <environment names="Staging,Production">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css"
              asp-fallback-href="~/lib/bootswatch/yeti/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>

    </environment>

</head>
<body>

<div class="container-fluid">
    <div class="row text-center">
        <h1> Developer Nation </h1>
    </div>
    <div class="row">

        <div id="sidebar" class="container-fluid">
            <div class="row">
                <div class="col-xs-11">
                    <ul class="nav">
                        <li class="active">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li><a asp-controller="ArticleArchive" asp-action="Index">Profile</a></li>
                        <li><a asp-controller="ArticleArchive" asp-action="Index">Resumé</a></li>
                    </ul>
                </div>
                <div class="col-xs-1 hide-sidebar-col">
                    <button id="sidebartoggle" class="btn btn-primary btn-sidebar-toggle"><i class="fa fa-angle-left"></i></button>
                </div>
            </div>
        </div>

        <div id="page">
            <div id="content" class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
</environment>

<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">



    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">



    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)

</body>
</html>